*.swp
*~

# WebMatrix automatically adds this Robots.txt file (booo)
Robots.txt

# WebMatrix throws this in there sometimes
web.config

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log


*.received.*

node_modules

