*.swp
*~

# WebMatrix automatically adds this Robots.txt file (booo)
Robots.txt

# WebMatrix throws this in there sometimes
web.config

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log


*.received.*

node_modules

.DS_Store

#Visual Studio files
*.suo

.nyc_output/
coverage/

.node-version

# VS Code settings folder
.settings/
