/node_modules/
/test/
/coverage/
/typings/
/.vscode/
appveyor.yml
.editorconfig
.eslintrc
.gitattributes
.gitignore
.jshintrc
.npmignore
.travis.yml
Approvals.NodeJS.njsproj
Approvals.NodeJS.sln
gulpfile.js
LICENSE-Apache


*.swp
*~

# WebMatrix automatically adds this Robots.txt file (booo)
Robots.txt

# WebMatrix throws this in there sometimes
web.config

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

npm-debug.log


.DS_Store
*.suo
